UPDATE events SET image_url = CASE 
  WHEN title = 'Community Meetup' THEN 'https://images.unsplash.com/photo-1517245386807-bb43f82c33c4?w=400&h=300&fit=crop'
  WHEN title = 'Beginner Workshop: Web Development Basics' THEN 'https://images.unsplash.com/photo-1516321318423-f06f85e504b3?w=400&h=300&fit=crop'
  WHEN title = 'Advanced React Patterns' THEN 'https://images.unsplash.com/photo-1633356122544-f134324a6cee?w=400&h=300&fit=crop'
  WHEN title = 'Networking Dinner with Industry Leaders' THEN 'https://images.unsplash.com/photo-1556909114-f6e7ad7d3136?w=400&h=300&fit=crop'
  WHEN title = 'Masterclass: System Design at Scale' THEN 'https://images.unsplash.com/photo-1560472354-b33ff0c44a43?w=400&h=300&fit=crop'
  WHEN title = 'VIP Tech Conference Access' THEN 'https://images.unsplash.com/photo-1505373877841-8d25f7d46678?w=400&h=300&fit=crop'
  WHEN title = 'Private Consultation with Tech Founders' THEN 'https://images.unsplash.com/photo-1600880292203-757bb62b4baf?w=400&h=300&fit=crop'
  WHEN title = 'Exclusive Silicon Valley Tour' THEN 'https://images.unsplash.com/photo-1506905925346-21bda4d32df4?w=400&h=300&fit=crop'
END;
